* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    width: 100%;
    height: 100%;

}

header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #027368;
    width: 100%;
    outline: solid 1px #012626;
    position: absolute;
    top: 0;

}

header>h1 {
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

header a {
    border: solid 1px #012626;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

header a:hover {
    transition: 200ms;
    transform: scale(105%);
    background-color: #012626;
    border: solid 1px #fbfbfb;
}

nav {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #038C7F;
}

main {
    margin-top: 30px;
    width: 800px;
    height: 400px;
    background-color: #01403A;
    border-radius: 6px;
    box-shadow: 1px 2px 3px #012626;
}

@media(max-width: 840px) {

    .container,
    main {
        width: 450px;
    }

    .copy {
        left: 0;
        margin-left: 30px;
    }

    @media(max-width:770px) {
        .container {
            width: 100%;
        }

        header h1 {
            font-size: 22px;
            margin-left: 15px;
        }

        header {
            justify-content: flex-start;
        }

        .topbar a {
            height: 22px;
        }

        footer ul {
            font-size: 12px;
        }

    }

}




.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#update {
    display: flex;
    flex-direction: column;
}

#update>label {
    color: white;
    font-weight: 500;
}

#update>input {
    width: 400px;
    height: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

#update>select {
    width: 405px;
    height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;

}

#btn_cad {
    position: relative;
    width: 200px;
    height: 25px;
    bottom: -20px;
    background-color: #038C7F;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#btn_cad:focus {
    transition: 200ms;
    outline: 2px solid #fbfbfb;
    background-color: #012626;
}

#btn_cad:hover {
    transition: 200ms;
    transform: scale(105%);
}

footer {
    width: 100%;
    height: 30px;
    background-color: #012626;
    display: flex;
    justify-content: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    align-items: center;
    color: white;

}

footer ul,
a {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

footer a:hover {
    transition: 200ms;
    text-decoration: underline;
    color: #027368;
}

footer li {
    display: flex;
    margin-right: 25px;
}

.copy {
    position: fixed;
}

.links {
    position: fixed;
    right: 0px;
}